@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap");
:root {
  --black:#222;
  --white:#fff;
  --light-color:#666;
  --light-bg:#eee;
  --white-bg:#ccc;
  --write:#111;
  --modal:rgba(0, 0, 0, 0.8);
  --ss:#2c2c54;
  --ms:#3c16e6;
}

* {
  font-family: "Poppins", sans-serif;
  padding: 0;
  margin: 0;
  text-decoration: none;
  text-transform: capitalize;
  border: none;
  outline: none;
  box-sizing: border-box;
  transition: all 0.2s linear;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 7rem;
}
html::-webkit-scrollbar {
  width: 0.1rem;
}
html::-webkit-scrollbar-thumb {
  background: var(--ss);
}
html::-webkit-scrollbar-track {
  background: transparent;
}

section {
  padding: 3rem 4%;
}

body {
  background: url(../img/bg-card1.jpg) repeat;
  background-position: center;
  background-position: top;
  background-attachment: scroll;
}

body.active {
  background: url(../img/bt-card1.jpg) no-repeat;
  --black:#fff;
  --white:#111;
  --light-color:#aaa;
  --light-bg:#222;
  --write:#fff;
  --modal:rgba(255, 255, 255, 0.6);
  --ms: #fff;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* animation xoay icons */
}
.header .info {
  display: flex;
  align-items: center;
}
.header .info .logo img {
  width: 7.5rem;
  height: 8rem;
  border-radius: 5rem;
}
.header .info .navbar {
  text-align: center;
}
.header .info .navbar a {
  font-size: 2rem;
  font-weight: 900;
  color: #fff;
  padding-left: 1rem;
}
.header .info .navbar p {
  font-size: 1.2rem;
  color: #fff;
  text-transform: none;
}
.header .icon div {
  font-size: 2rem;
  color: #fff;
  cursor: pointer;
}
.header #search-btn.fa-times {
  transform: rotate(90deg);
}
.header #theme-btn.fa-sun {
  transform: rotate(90deg);
}

.details-products .btn {
  width: 100%;
  padding: 1.3rem 0;
  display: flex;
  background: var(--white);
  align-items: center;
  border-radius: 5rem;
}
.details-products .btn .icon {
  font-size: 2rem;
  color: var(--black);
}
.details-products .btn .icon i {
  padding-left: 2rem;
}
.details-products .btn .content {
  padding-left: 1.5rem;
  font-size: 1.4rem;
  line-height: 1.5;
  color: var(--black);
}
.details-products .btn:hover {
  cursor: pointer;
}
.details-products .box {
  padding-top: 2rem;
}
.details-products .box .facebook,
.details-products .box .messenger,
.details-products .box .zalo,
.details-products .box .email,
.details-products .box .phone {
  width: 100%;
  padding: 1.3rem 0;
  display: flex;
  background: var(--white);
  align-items: center;
  border-radius: 5rem;
}
.details-products .box .facebook .icon,
.details-products .box .messenger .icon,
.details-products .box .zalo .icon,
.details-products .box .email .icon,
.details-products .box .phone .icon {
  font-size: 2rem;
  color: var(--ms);
}
.details-products .box .facebook .icon i,
.details-products .box .messenger .icon i,
.details-products .box .zalo .icon i,
.details-products .box .email .icon i,
.details-products .box .phone .icon i {
  padding-left: 2rem;
}
.details-products .box .facebook .content,
.details-products .box .messenger .content,
.details-products .box .zalo .content,
.details-products .box .email .content,
.details-products .box .phone .content {
  padding-left: 1.5rem;
  font-size: 1.4rem;
  line-height: 1.5;
  color: var(--black);
}
.details-products .box:hover {
  cursor: pointer;
}

.model {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--modal);
  visibility: hidden;
  opacity: 0;
}
.model.active {
  visibility: visible;
  opacity: 1;
  animation: fadeDown ease-in 0.3s;
}
.model .box-container {
  position: absolute;
  top: 5%;
  left: 5%;
  right: 5%;
  bottom: 5%;
  width: 90%;
  height: 90%;
  background: #347846;
  border-radius: 2rem;
  align-items: center;
  text-align: center;
}
.model .box-container .icon-close {
  cursor: pointer;
  position: absolute;
  top: 1.5rem;
  right: 1.8rem;
  font-size: 2rem;
  color: var(--white-bg);
}
.model .box-container .box img {
  margin-top: 2.5rem;
  height: 11rem;
}
.model .box-container .box h3 {
  margin-top: 0.5rem;
  font-size: 2rem;
  color: var(--white);
}
.model .box-container .box .image-qr img {
  margin-top: 1rem;
}
.model .box-container .box .content {
  position: absolute;
  top: 60%;
  left: 5%;
  right: 5%;
  bottom: 3%;
  background: #fff;
  border-radius: 1rem;
  text-align: left;
}
.model .box-container .box .content .user-name,
.model .box-container .box .content .user-date,
.model .box-container .box .content .user-ID {
  padding: 1.5rem 1.5rem 0 1.5rem;
}
.model .box-container .box .content .user-name .content-us,
.model .box-container .box .content .user-date .content-us,
.model .box-container .box .content .user-ID .content-us {
  display: flex;
}
.model .box-container .box .content .user-name .content-us i,
.model .box-container .box .content .user-date .content-us i,
.model .box-container .box .content .user-ID .content-us i {
  font-size: 1.6rem;
}
.model .box-container .box .content .user-name .content-us span,
.model .box-container .box .content .user-date .content-us span,
.model .box-container .box .content .user-ID .content-us span {
  text-transform: none;
  font-size: 1.4rem;
  padding-left: 1.5rem;
}
.model .box-container .box .content p {
  font-size: 1.4rem;
  padding-left: 2.7rem;
  font-weight: bolder;
}

@keyframes fadeDown {
  from {
    transform: translateY(-10rem);
  }
  to {
    transform: translateY();
  }
}

/*# sourceMappingURL=style.css.map */
