@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap");


:root{
    --black:#222;
    --white:#fff;
    --light-color:#666;
    --light-bg:#eee;
    --white-bg:#ccc;
    --write:#111;
    --modal:rgba(0, 0, 0, 0.3);
    --ss:#2c2c54;
    --ms:#3c16e6;
}

*{
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
    text-decoration: none;
    text-transform: capitalize;
    border: none;
    outline: none;
    box-sizing: border-box;
    transition: all .2s linear;
    overflow: hidden;
    // overflow-y: scroll;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 7rem;

    &::-webkit-scrollbar{
        width: 1rem;
    }

    &::-webkit-scrollbar-thumb{
        background: var(--ss);
    }
    
    &::-webkit-scrollbar-track{
        background: transparent;
    }
}

section{
    padding: 3rem 4%; 
}

body{
    
    background: url(../img/bt-card2.jpg) no-repeat;
    background-position: center;
    background-position: center;
}

body.active{
    --black:#fff;
    --white:#111;
    --light-color:#aaa;
    --light-bg:#222;
    --write:#fff;
    --modal:rgba(255, 255, 255, 0.6);
    --ms: #fff;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    .info{
        display: flex;
        align-items: center;

        .logo{

            img{
                width: 7.5rem;
                height: 8rem;
                border-radius: 5rem;
            }
        }

        .navbar{
            text-align: center;
            a{
                font-size: 2rem;
                font-weight: 900;
                color: #fff;
                padding-left: 1rem;
            }

            p{
                font-size: 1.2rem;
                color: #fff;
            }
        }
    }

    .icon{
            
        div{
            font-size: 2rem;
            color: #fff;
            cursor: pointer;
        }
    }

    
/* animation xoay icons */
        #search-btn.fa-times{
        transform: rotate(90deg);
    }   

        #theme-btn.fa-sun{
        transform: rotate(90deg);
    }
}

.details-products{


    .btn{
        width: 100%;
        padding: 1.3rem 0;
        display: flex;
        background: var(--white);
        align-items: center;
        border-radius: 5rem;

        .icon{
            font-size: 2rem;
            color: var(--black);

            i{
                padding-left: 2rem;
            }
        }

        .content{
            padding-left: 1.5rem;
            font-size: 1.4rem;
            line-height: 1.5;
            color: var(--black);
        }

        &:hover{
            cursor: pointer;
        }
    }

    .box{
        padding-top: 2rem;

        .facebook,
        .messenger,
        .zalo,
        .email,
        .phone{
            width: 100%;
            padding: 1.3rem 0;
            display: flex;
            background: var(--white);
            align-items: center;
            border-radius: 5rem;

            .icon{
                font-size: 2rem;
                color: var(--ms);
    
                i{
                    padding-left: 2rem;
                }
            }

            .content{
                padding-left: 1.5rem;
                font-size: 1.4rem;
                line-height: 1.5;
                color: var(--black);
            }
        }

        &:hover{
            cursor: pointer;
        }
        
    }
}

.model{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--modal);
    visibility: hidden;
    opacity: 0;

    &.active{
        visibility: visible;
        opacity: 1;
    }

    .box-container{
        position: absolute;
        top: 5%;
        left: 5%;
        right: 5%;
        bottom: 5%;      
        width: 90%;
        height: 90%;
        background: #347846;
        border-radius: 2rem;
        align-items: center;
        text-align: center;

        .icon-close{
            cursor: pointer;
            position: absolute;
            top: 1.5rem;
            right: 1.8rem;
            font-size: 2rem;
            color: var(--white-bg);
        }

        .box{

            img{
                margin-top: 2.5rem;
                height: 11rem;
            }

            h3{
                margin-top: .5rem;
                font-size: 2rem;
                color: var(--white);
            }

            .image-qr{

                img{     
                    margin-top: 1rem;
                }
            }

            .content{
                position: absolute;
                top: 60%;
                left: 5%;
                right: 5%;
                bottom: 3%;
                background: #fff;
                border-radius: 1rem;
                text-align: left;

                .user-name,
                .user-date,
                .user-ID{
                    padding: 1.5rem 1.5rem 0 1.5rem;
                    .content-us{
                        display: flex;
                        

                        i{
                            font-size: 1.6rem;
                        }

                        span{
                            text-transform: none;
                            font-size: 1.4rem;
                            padding-left: 1.5rem;
                        }
                    }
                }
                
                p{
                    font-size: 1.4rem;
                    padding-left: 2.7rem;
                    font-weight: bolder;
                }
            }
        }
    }
}