@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap");
:root {
  --black:#222;
  --white:#fff;
  --light-color:#666;
  --light-bg:#eee;
  --white-bg:#ccc;
  --write:#111;
  --modal:rgba(0, 0, 0, 0.3);
  --ss:#2c2c54;
}

* {
  font-family: 'Poppins', sans-serif;
  padding: 0;
  margin: 0;
  text-decoration: none;
  text-transform: capitalize;
  border: none;
  outline: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 7rem;
}

html::-webkit-scrollbar {
  width: 1rem;
}

html::-webkit-scrollbar-thumb {
  background: var(--ss);
}

html::-webkit-scrollbar-track {
  background: transparent;
}

section {
  padding: 3rem 4%;
}

body {
  background: var(--white);
}

body.active {
  --black:#fff;
  --white:#333;
  --light-color:#aaa;
  --light-bg:#222;
  --write:#fff;
  --modal:rgba(255, 255, 255, 0.6)
    
;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /* animation xoay icons */
}

.header .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .info .logo img {
  width: 7.5rem;
  height: 8rem;
  border-radius: 5rem;
}

.header .info .navbar {
  text-align: center;
}

.header .info .navbar a {
  font-size: 2rem;
  font-weight: 900;
  color: var(--black);
  padding-left: 1rem;
}

.header .info .navbar p {
  font-size: 1.2rem;
  color: var(--black);
}

.header .icon div {
  font-size: 2rem;
  color: var(--black);
  cursor: pointer;
}

.header #search-btn.fa-times {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.header #theme-btn.fa-sun {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.details-products .content p {
  color: var(--black);
  font-weight: bold;
}

.details-products .btn {
  display: block;
  cursor: pointer;
}

.details-products .btn .QR-code {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.details-products .btn .QR-code i {
  font-size: 2rem;
  color: var(--black);
  padding: 2rem 0;
}

.details-products .btn .QR-code .content p {
  text-align: center;
  padding-left: 2rem;
  font-size: 1.5rem;
  text-transform: none;
}

.details-products .facebook {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.details-products .facebook i {
  font-size: 2.5rem;
  color: #3c16e6;
  outline: none;
}

.details-products .facebook .content p {
  padding: 2rem 0;
  text-align: center;
  padding-left: 2rem;
  font-size: 1.5rem;
  text-transform: none;
}

.details-products .messenger {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.details-products .messenger i {
  font-size: 2rem;
  padding: 2rem 0;
}

.details-products .messenger .content p {
  text-align: center;
  padding-left: 2rem;
  font-size: 1.5rem;
  text-transform: none;
}

.model {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--modal);
  visibility: hidden;
  opacity: 0;
}

.model.active {
  visibility: visible;
  opacity: 1;
}

.model .box-container {
  position: absolute;
  top: 5%;
  left: 5%;
  right: 5%;
  bottom: 5%;
  width: 90%;
  height: 90%;
  background: #347846;
  border-radius: 2rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.model .box-container .icon-close {
  cursor: pointer;
  position: absolute;
  top: 1.5rem;
  right: 1.8rem;
  font-size: 2rem;
  color: var(--white-bg);
}

.model .box-container .box img {
  margin-top: 2.5rem;
  height: 11rem;
}

.model .box-container .box h3 {
  margin-top: .5rem;
  font-size: 2rem;
  color: var(--white);
}

.model .box-container .box .image-qr img {
  margin-top: 1rem;
}

.model .box-container .box .content {
  position: absolute;
  top: 60%;
  left: 5%;
  right: 5%;
  bottom: 3%;
  background: var(--white);
  border-radius: 1rem;
  text-align: left;
}

.model .box-container .box .content .user-name,
.model .box-container .box .content .user-date,
.model .box-container .box .content .user-ID {
  padding: 1.5rem 1.5rem 0 1.5rem;
}

.model .box-container .box .content .user-name .content-us,
.model .box-container .box .content .user-date .content-us,
.model .box-container .box .content .user-ID .content-us {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.model .box-container .box .content .user-name .content-us i,
.model .box-container .box .content .user-date .content-us i,
.model .box-container .box .content .user-ID .content-us i {
  font-size: 1.6rem;
}

.model .box-container .box .content .user-name .content-us span,
.model .box-container .box .content .user-date .content-us span,
.model .box-container .box .content .user-ID .content-us span {
  text-transform: none;
  font-size: 1.4rem;
  padding-left: 1.5rem;
}

.model .box-container .box .content p {
  font-size: 1.4rem;
  padding-left: 2.7rem;
  font-weight: bolder;
}
/*# sourceMappingURL=style.css.map */